In [ ]:
#20BEC0775
#Aanchal Verma
#AI Smartbridge Externship
#Assignment 2

In [ ]:
######################################## TASK 1 #########################################
#Read the dataset and do data pre-processing

In [1]:
#importing the required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/drug200.csv') # Reading the data
df.head() # Visualizing the data

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [3]:
df.isnull().sum() # Checking for null values

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [4]:
df['Drug'].unique() # Finding unique category

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [5]:
df['Drug'].value_counts() # Finding the count of observations based on unique value

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [6]:
# Splitting the data
x = df.iloc[:,1:5].values
x

array([['F', 'HIGH', 'HIGH', 25.355],
       ['M', 'LOW', 'HIGH', 13.093],
       ['M', 'LOW', 'HIGH', 10.114],
       ['F', 'NORMAL', 'HIGH', 7.798],
       ['F', 'LOW', 'HIGH', 18.043],
       ['F', 'NORMAL', 'HIGH', 8.607],
       ['F', 'NORMAL', 'HIGH', 16.275],
       ['M', 'LOW', 'HIGH', 11.037],
       ['M', 'NORMAL', 'HIGH', 15.171],
       ['M', 'LOW', 'NORMAL', 19.368],
       ['F', 'LOW', 'HIGH', 11.767],
       ['F', 'HIGH', 'NORMAL', 19.199],
       ['M', 'LOW', 'HIGH', 15.376],
       ['F', 'LOW', 'HIGH', 20.942],
       ['F', 'NORMAL', 'HIGH', 12.703],
       ['F', 'HIGH', 'NORMAL', 15.516],
       ['M', 'LOW', 'NORMAL', 11.455],
       ['M', 'HIGH', 'HIGH', 13.972],
       ['M', 'LOW', 'HIGH', 7.298],
       ['F', 'HIGH', 'NORMAL', 25.974],
       ['M', 'LOW', 'NORMAL', 19.128],
       ['M', 'NORMAL', 'HIGH', 25.917],
       ['M', 'LOW', 'NORMAL', 30.568],
       ['F', 'LOW', 'HIGH', 15.036],
       ['F', 'LOW', 'HIGH', 33.486],
       ['F', 'HIGH', 'NORMAL', 18.809],
       ['M', 'HIGH', 'HIGH', 30.366],
       ['F', 'NORMAL', 'NORMAL', 9.381],
       ['F', 'LOW', 'NORMAL', 22.697],
       ['M', 'LOW', 'HIGH', 17.951],
       ['F', 'NORMAL', 'NORMAL', 8.75],
       ['M', 'HIGH', 'HIGH', 9.567],
       ['M', 'LOW', 'NORMAL', 11.014],
       ['F', 'HIGH', 'NORMAL', 31.876],
       ['M', 'NORMAL', 'HIGH', 14.133],
       ['M', 'NORMAL', 'NORMAL', 7.285],
       ['M', 'HIGH', 'NORMAL', 9.445],
       ['M', 'LOW', 'NORMAL', 13.938],
       ['F', 'NORMAL', 'NORMAL', 9.709],
       ['M', 'NORMAL', 'HIGH', 9.084],
       ['F', 'NORMAL', 'HIGH', 19.221],
       ['F', 'HIGH', 'NORMAL', 14.239],
       ['M', 'NORMAL', 'NORMAL', 15.79],
       ['M', 'NORMAL', 'HIGH', 12.26],
       ['F', 'NORMAL', 'NORMAL', 12.295],
       ['F', 'NORMAL', 'NORMAL', 8.107],
       ['F', 'HIGH', 'HIGH', 13.091],
       ['M', 'LOW', 'HIGH', 10.291],
       ['M', 'NORMAL', 'HIGH', 31.686],
       ['F', 'LOW', 'HIGH', 19.796],
       ['F', 'HIGH', 'HIGH', 19.416],
       ['M', 'NORMAL', 'NORMAL', 10.898],
       ['M', 'LOW', 'NORMAL', 27.183],
       ['F', 'HIGH', 'NORMAL', 18.457],
       ['F', 'HIGH', 'NORMAL', 10.189],
       ['F', 'LOW', 'HIGH', 14.16],
       ['M', 'HIGH', 'NORMAL', 11.34],
       ['M', 'HIGH', 'HIGH', 27.826],
       ['M', 'NORMAL', 'NORMAL', 10.091],
       ['M', 'HIGH', 'HIGH', 18.703],
       ['F', 'LOW', 'NORMAL', 29.875],
       ['M', 'HIGH', 'NORMAL', 9.475],
       ['M', 'LOW', 'NORMAL', 20.693],
       ['M', 'LOW', 'NORMAL', 8.37],
       ['F', 'HIGH', 'HIGH', 13.303],
       ['F', 'NORMAL', 'NORMAL', 27.05],
       ['M', 'HIGH', 'HIGH', 12.856],
       ['M', 'NORMAL', 'NORMAL', 10.832],
       ['M', 'NORMAL', 'HIGH', 24.658],
       ['F', 'HIGH', 'NORMAL', 24.276],
       ['M', 'HIGH', 'HIGH', 13.967],
       ['F', 'NORMAL', 'HIGH', 19.675],
       ['F', 'NORMAL', 'HIGH', 10.605],
       ['F', 'NORMAL', 'NORMAL', 22.905],
       ['M', 'HIGH', 'NORMAL', 17.069],
       ['M', 'LOW', 'NORMAL', 20.909],
       ['F', 'HIGH', 'HIGH', 11.198],
       ['F', 'HIGH', 'NORMAL', 19.161],
       ['F', 'HIGH', 'HIGH', 13.313],
       ['F', 'LOW', 'NORMAL', 10.84],
       ['M', 'HIGH', 'HIGH', 13.934],
       ['M', 'NORMAL', 'HIGH', 7.761],
       ['F', 'LOW', 'HIGH', 9.712],
       ['F', 'HIGH', 'NORMAL', 11.326],
       ['F', 'LOW', 'HIGH', 10.067],
       ['M', 'HIGH', 'HIGH', 13.935],
       ['F', 'NORMAL', 'HIGH', 13.597],
       ['M', 'LOW', 'HIGH', 15.478],
       ['F', 'HIGH', 'NORMAL', 23.091],
       ['F', 'NORMAL', 'NORMAL', 17.211],
       ['M', 'NORMAL', 'HIGH', 16.594],
       ['M', 'HIGH', 'NORMAL', 15.156],
       ['F', 'HIGH', 'HIGH', 29.45],
       ['F', 'LOW', 'NORMAL', 29.271],
       ['M', 'LOW', 'HIGH', 15.015],
       ['M', 'LOW', 'NORMAL', 11.424],
       ['F', 'LOW', 'HIGH', 38.247],
       ['F', 'HIGH', 'HIGH', 25.395],
       ['M', 'HIGH', 'NORMAL', 35.639],
       ['F', 'HIGH', 'NORMAL', 16.725],
       ['M', 'HIGH', 'NORMAL', 11.871],
       ['F', 'HIGH', 'HIGH', 12.854],
       ['F', 'LOW', 'HIGH', 13.127],
       ['M', 'NORMAL', 'HIGH', 8.966],
       ['M', 'HIGH', 'NORMAL', 28.294],
       ['M', 'LOW', 'NORMAL', 8.968],
       ['M', 'NORMAL', 'HIGH', 11.953],
       ['M', 'LOW', 'HIGH', 20.013],
       ['M', 'HIGH', 'NORMAL', 9.677],
       ['M', 'NORMAL', 'HIGH', 16.85],
       ['M', 'HIGH', 'HIGH', 7.49],
       ['F', 'NORMAL', 'NORMAL', 6.683],
       ['M', 'LOW', 'NORMAL', 9.17],
       ['F', 'LOW', 'NORMAL', 13.769],
       ['F', 'NORMAL', 'NORMAL', 9.281],
       ['M', 'HIGH', 'HIGH', 18.295],
       ['M', 'NORMAL', 'NORMAL', 9.514],
       ['F', 'NORMAL', 'HIGH', 10.103],
       ['F', 'HIGH', 'NORMAL', 10.292],
       ['F', 'HIGH', 'HIGH', 25.475],
       ['M', 'NORMAL', 'HIGH', 27.064],
       ['M', 'HIGH', 'NORMAL', 17.206],
       ['M', 'NORMAL', 'HIGH', 22.456],
       ['F', 'NORMAL', 'HIGH', 16.753],
       ['F', 'HIGH', 'NORMAL', 12.495],
       ['F', 'HIGH', 'NORMAL', 25.969],
       ['M', 'HIGH', 'HIGH', 16.347],
       ['M', 'NORMAL', 'NORMAL', 7.845],
       ['M', 'LOW', 'NORMAL', 33.542],
       ['F', 'NORMAL', 'HIGH', 7.477],
       ['F', 'NORMAL', 'HIGH', 20.489],
       ['M', 'LOW', 'NORMAL', 32.922],
       ['M', 'LOW', 'NORMAL', 13.598],
       ['M', 'NORMAL', 'HIGH', 25.786],
       ['F', 'HIGH', 'HIGH', 21.036],
       ['M', 'LOW', 'NORMAL', 11.939],
       ['F', 'HIGH', 'HIGH', 10.977],
       ['F', 'HIGH', 'HIGH', 12.894],
       ['M', 'HIGH', 'NORMAL', 11.343],
       ['F', 'NORMAL', 'HIGH', 10.065],
       ['M', 'HIGH', 'NORMAL', 6.269],
       ['F', 'LOW', 'NORMAL', 25.741],
       ['M', 'HIGH', 'NORMAL', 8.621],
       ['M', 'HIGH', 'NORMAL', 15.436],
       ['M', 'HIGH', 'HIGH', 9.664],
       ['M', 'NORMAL', 'HIGH', 9.443],
       ['F', 'LOW', 'NORMAL', 12.006],
       ['F', 'HIGH', 'NORMAL', 12.307],
       ['F', 'LOW', 'NORMAL', 7.34],
       ['M', 'LOW', 'HIGH', 8.151],
       ['M', 'HIGH', 'NORMAL', 8.7],
       ['M', 'HIGH', 'HIGH', 11.009],
       ['M', 'NORMAL', 'NORMAL', 7.261],
       ['F', 'LOW', 'NORMAL', 14.642],
       ['M', 'LOW', 'NORMAL', 16.724],
       ['M', 'LOW', 'HIGH', 10.537],
       ['M', 'HIGH', 'NORMAL', 11.227],
       ['M', 'LOW', 'HIGH', 22.963],
       ['F', 'LOW', 'HIGH', 10.444],
       ['F', 'LOW', 'NORMAL', 12.923],
       ['F', 'NORMAL', 'HIGH', 10.443],
       ['F', 'HIGH', 'NORMAL', 9.945],
       ['M', 'NORMAL', 'NORMAL', 12.859],
       ['F', 'HIGH', 'NORMAL', 28.632],
       ['M', 'HIGH', 'NORMAL', 19.007],
       ['M', 'LOW', 'HIGH', 18.295],
       ['F', 'LOW', 'HIGH', 26.645],
       ['F', 'NORMAL', 'HIGH', 14.216],
       ['F', 'LOW', 'NORMAL', 23.003],
       ['F', 'HIGH', 'HIGH', 11.262],
       ['F', 'NORMAL', 'HIGH', 12.879],
       ['M', 'LOW', 'NORMAL', 10.017],
       ['F', 'NORMAL', 'NORMAL', 17.225],
       ['F', 'LOW', 'NORMAL', 18.739],
       ['M', 'HIGH', 'NORMAL', 12.766],
       ['F', 'HIGH', 'HIGH', 18.348],
       ['M', 'HIGH', 'NORMAL', 10.446],
       ['M', 'NORMAL', 'HIGH', 19.011],
       ['M', 'NORMAL', 'HIGH', 15.969],
       ['F', 'NORMAL', 'HIGH', 15.891],
       ['F', 'HIGH', 'NORMAL', 22.818],
       ['F', 'NORMAL', 'HIGH', 13.884],
       ['F', 'LOW', 'NORMAL', 11.686],
       ['F', 'HIGH', 'NORMAL', 15.49],
       ['F', 'HIGH', 'HIGH', 37.188],
       ['F', 'NORMAL', 'NORMAL', 25.893],
       ['M', 'HIGH', 'HIGH', 9.849],
       ['M', 'HIGH', 'HIGH', 10.403],
       ['M', 'HIGH', 'NORMAL', 34.997],
       ['M', 'HIGH', 'NORMAL', 20.932],
       ['M', 'HIGH', 'HIGH', 18.991],
       ['M', 'HIGH', 'HIGH', 8.011],
       ['M', 'LOW', 'HIGH', 16.31],
       ['M', 'LOW', 'HIGH', 6.769],
       ['F', 'HIGH', 'HIGH', 34.686],
       ['F', 'LOW', 'HIGH', 11.567],
       ['M', 'LOW', 'HIGH', 12.006],
       ['M', 'NORMAL', 'HIGH', 9.894],
       ['M', 'NORMAL', 'NORMAL', 14.02],
       ['F', 'LOW', 'NORMAL', 11.349]], dtype=object)

In [7]:
y = pd.get_dummies(df.iloc[:,5:]).values
y

array([[1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1]], dtype=uint8)

In [8]:
# Splitting the data into train and test
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Activation, Dense
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 4), (40, 4), (160, 5), (40, 5))

In [ ]:
################################## TASK 2 ################################# 
#Build the ANN model with (input layer, min 3 hidden layers & output layer)

In [9]:
# ANN Model
model = Sequential()
model.add(Dense(8,input_dim=4,activation='relu'))
#model.add(Dense(32,activation='relu'))
model.add(Dense(26,activation='relu'))
model.add(Dense(3,activation='softmax'))


model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])


model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 40

 dense_1 (Dense)             (None, 26)                234

 dense_2 (Dense)             (None, 3)                 81

=================================================================
Total params: 355
Trainable params: 355
Non-trainable params: 0
_________________________________________________________________

In [ ]:
##########################TASK 3 ######################################
#Test the model with random data

In [11]:
#Splitting the data into train and test
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape


# Generate random data to test the model
X_new = np.random.rand(5,4)


# Predict the classes of the new data
y_pred = model.predict(X_new)


# Print the predicted classes
print(y_pred)

1/1 [==============================] - 0s 24ms/step
[[0.33279574 0.3509345  0.3162697 ]
 [0.33333334 0.33333334 0.33333334]
 [0.3240552  0.34244266 0.33350217]
 [0.31477958 0.35189167 0.33332875]
 [0.33001417 0.33233422 0.33765164]]