VIT AI Externship Assignment 1

Aanchal Verma

20BEC0775

In [1]:
import pandas as pd
import numpy as np

#################################Task 1#######################################

In [13]:

#creating a series

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

In [3]:
# Creating dataframe with the series

df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.112546  0.926427  0.779355  0.849977
1  0.107637  0.550338  0.785579  0.795849
2  0.671739  0.609814  0.161938  0.952080
3  0.876904  0.256469  0.789169  0.473933

In [4]:
# Transpose - Coverting observations(rows) into features(column)

df = df.T
     
df

          0         1         2         3
0  0.112546  0.107637  0.671739  0.876904
1  0.926427  0.550338  0.609814  0.256469
2  0.779355  0.785579  0.161938  0.789169
3  0.849977  0.795849  0.952080  0.473933

###########################Task 2################################

In [5]:
# Changing the column name

df.columns = ['Random_Values_1','Random_Values_2', 'Random_Values_3', 'Random_Values_4']
df

   Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
0         0.112546         0.107637         0.671739         0.876904
1         0.926427         0.550338         0.609814         0.256469
2         0.779355         0.785579         0.161938         0.789169
3         0.849977         0.795849         0.952080         0.473933

###########################Task 3################################

In [6]:
# Descriptive statistics

df.describe(include='all')

       Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
count         4.000000         4.000000         4.000000         4.000000
mean          0.667076         0.559851         0.598893         0.599119
std           0.374533         0.322096         0.327158         0.286568
min           0.112546         0.107637         0.161938         0.256469
25%           0.612653         0.439662         0.497845         0.419567
50%           0.814666         0.667958         0.640776         0.631551
75%           0.869089         0.788147         0.741824         0.811103
max           0.926427         0.795849         0.952080         0.876904

###########################Task 4################################

In [7]:
# Finding null values

df.isnull()

   Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
0            False            False            False            False
1            False            False            False            False
2            False            False            False            False
3            False            False            False            False

In [8]:
# Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Random_Values_1  4 non-null      float64
 1   Random_Values_2  4 non-null      float64
 2   Random_Values_3  4 non-null      float64
 3   Random_Values_4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

###########################Task 5################################

In [9]:
#Disaplying the column 'Random Values 2 using location method
df.loc[:,"Random_Values_2"]

0    0.107637
1    0.550338
2    0.785579
3    0.795849
Name: Random_Values_2, dtype: float64

In [10]:
#Dispalying the column 'Random Values 3' using location method
df.loc[:, "Random_Values_3"]

0    0.671739
1    0.609814
2    0.161938
3    0.952080
Name: Random_Values_3, dtype: float64

In [11]:
#Displaying the column 'Random Values 2 using index location method
df.iloc[:,1]

0    0.107637
1    0.550338
2    0.785579
3    0.795849
Name: Random_Values_2, dtype: float64

In [12]:
#Displaying the column 'Random Values 2 using index location method
df.iloc[:,2]

0    0.671739
1    0.609814
2    0.161938
3    0.952080
Name: Random_Values_3, dtype: float64