In [ ]:
#AI Assignment 1
#Rahul 20BEC0637
#VIT Smart Bridge Externship

In [3]:
import pandas as pd
import numpy as np

In [4]:
##---------------------------------------------Task 1-----------------------------------------
##creating a series

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

In [12]:
# Creating dataframe with the series

df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.913316  0.745424  0.382268  0.463041
1  0.956541  0.094628  0.472642  0.315551
2  0.993644  0.132732  0.290514  0.543765
3  0.590142  0.267999  0.406611  0.219129

In [13]:
# Transpose - Coverting observations(rows) into features(column)

df = df.T
     
df

          0         1         2         3
0  0.913316  0.956541  0.993644  0.590142
1  0.745424  0.094628  0.132732  0.267999
2  0.382268  0.472642  0.290514  0.406611
3  0.463041  0.315551  0.543765  0.219129

In [14]:
##---------------------------------------------Task 2-----------------------------------------
# Changing the column name

df.columns = ['Random_Values_1','Random_Values_2', 'Random_Values_3', 'Random_Values_4']
df

   Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
0         0.913316         0.956541         0.993644         0.590142
1         0.745424         0.094628         0.132732         0.267999
2         0.382268         0.472642         0.290514         0.406611
3         0.463041         0.315551         0.543765         0.219129

In [15]:
##---------------------------------------------Task 3-----------------------------------------
# Descriptive statistics

df.describe(include='all')

       Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
count         4.000000         4.000000         4.000000         4.000000
mean          0.626012         0.459841         0.490164         0.370970
std           0.246829         0.365639         0.375936         0.166298
min           0.382268         0.094628         0.132732         0.219129
25%           0.442848         0.260320         0.251068         0.255782
50%           0.604232         0.394096         0.417139         0.337305
75%           0.787397         0.593617         0.656235         0.452494
max           0.913316         0.956541         0.993644         0.590142

In [16]:
##---------------------------------------------Task 4-----------------------------------------
# Finding null values

df.isnull()

   Random_Values_1  Random_Values_2  Random_Values_3  Random_Values_4
0            False            False            False            False
1            False            False            False            False
2            False            False            False            False
3            False            False            False            False

In [17]:
# Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Random_Values_1  4 non-null      float64
 1   Random_Values_2  4 non-null      float64
 2   Random_Values_3  4 non-null      float64
 3   Random_Values_4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [18]:
#---------------------------------------Task 5---------------------------------------
#Disaplying the column 'Random Values 2 using location method
df.loc[:,"Random_Values_2"]

0    0.956541
1    0.094628
2    0.472642
3    0.315551
Name: Random_Values_2, dtype: float64

In [19]:
#Dispalying the column 'Random Values 3' using location method
df.loc[:, "Random_Values_3"]

0    0.993644
1    0.132732
2    0.290514
3    0.543765
Name: Random_Values_3, dtype: float64

In [20]:
#Displaying the column 'Random Values 2 using index location method
df.iloc[:,1]

0    0.956541
1    0.094628
2    0.472642
3    0.315551
Name: Random_Values_2, dtype: float64

In [21]:
#Displaying the column 'Random Values 2 using index location method
df.iloc[:,2]

0    0.993644
1    0.132732
2    0.290514
3    0.543765
Name: Random_Values_3, dtype: float64

In [ ]:
#--------------------------------------------------The-End-------------------------------------------------------------------